/* CSS common */

body {
    margin: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: none;
}

a {
    text-decoration: none;
    color: #111;
}

a:hover {
    color: #555;
}

button {
    width: 50px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #111;
    background-color: #0c5460;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}


/*HEADER*/
header {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: #818181;
    top: 0;
    z-index: 1;
    left: 0;
    border-bottom: 1px solid #555;
}

.logo {
    padding-left: 20px;
    float: left;

}

.header-right {
    float: right;
    display: flex;
    padding-right: 20px;
}

.header-right .row {
    padding-left: 25px;
}

/*Content*/
/*sidebar*/
.content {
    padding-left: 250px;
    left: 0;
    width: calc(100% - 250px);
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 60px;
    background-color: #818181;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar .col {
    width: 100%;
    height: 50px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding-left: 10px;
}

.sidebar .col a {
    line-height: 50px;
}

.sidebar .col a > span {
    padding-left: 10px;
}

.content-body {
    padding: 5em 5em;
    overflow-x: hidden;
}

/* end Common */

/*  CSS product-manage BEGIN   */

/*.content-body ._btn-create  button {*/
/*     !*width: 50px;*!*/
/*     !*height: 45px;*!*/
/*     !*font-family: 'Roboto', sans-serif;*!*/
/*     !*font-size: 11px;*!*/
/*     !*text-transform: uppercase;*!*/
/*     !*letter-spacing: 2.5px;*!*/
/*     !*font-weight: 500;*!*/
/*     !*color: #777;*!*/
/*     !*background-color: rgb(90, 56, 56);*!*/
/*     !*border: none;*!*/
/*     !*border-radius: 45px;*!*/
/*     !*box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);*!*/
/*     !*transition: all 0.3s ease 0s;*!*/
/*     !*cursor: pointer;*!*/
/*     !*outline: none;*!*/
/*    background-color: #000000 !important;*/
/*    border-radius: 1px !important;*/
/*    color: #f6f6f6 !important;*/
/* }*/

/*!*.content-body table tbody td > button:hover {*!*/
/*!*    background-color: #2EE59D;*!*/
/*!*    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);*!*/
/*!*    color: #fff;*!*/
/*!*    transform: translateY(-7px);*!*/
/*!*}*!*/

.modal.m-800 {
    max-width: 800px !important;
}

#modal-delete {
    position: relative;
    width: 200px;
    height: 100px;
    margin: auto;
}