/* CSS common */

body {
    margin: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: none;
}

a {
    text-decoration: none;
    color: #111;
}

a:hover {
    color: #555;
}

button {
    width: 50px;
    height: 45px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: #444;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 5px;
}

button >a{
    color: #fff;
}

button:hover >a:hover{
    background-color: #555;
    color: #fff;
}


/*HEADER*/
header {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: #818181;
    top: 0;
    z-index: 1;
    left: 0;
    border-bottom: 1px solid #555;
}

.logo {
    padding-left: 20px;
    float: left;

}

.header-right {
    float: right;
    display: flex;
    padding-right: 20px;
}

.header-right .row {
    padding-left: 25px;
}

/*Content*/
/*sidebar*/
.content {
    padding-left: 250px;
    left: 0;
    width: calc(100% - 250px);
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 60px;
    background-color: #818181;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar .col {
    width: 100%;
    height: 50px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    padding-left: 10px;
}

.sidebar .col a {
    line-height: 50px;
}

.sidebar .col a > span {
    padding-left: 10px;
}

.content-body {
    padding: 5em 5em;
    overflow-x: hidden;
}

.content-body ._btn-select{
    float: right;
    display :flex;
}

.content-body ._btn-select a{
    display: block;
    width: 150px;
    height: 30px;
    background-color: #383d42;
    color: #f7f7f7;
    margin-left: 5px;
    padding-top: 2px;
    text-align: center;
    cursor: pointer;
}

.modal.m-800 {
    max-width: 800px !important;
}

#modal-delete {
    position: relative;
    width: 200px;
    height: 100px;
    margin: auto;
}

/* end Common */
